# Server
PORT=4000
NODE_ENV=development
JWT_SECRET=change_this_to_a_long_random_secret

# DynamoDB Local
DYNAMODB_ENDPOINT=http://localhost:8000
AWS_REGION=local
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
TABLE_NAME=PixelWarTable

# Frontend origin (CORS + WS)
FRONTEND_ORIGIN=http://localhost:3000

# Game tuning
RESOURCE_TICK_MS=10000
AI_TICK_MS=15000
WORLD_WIDTH=512
WORLD_HEIGHT=512
RESEARCH_TICK_MS=5000
GLOBAL_EVENT_TICK_MS=120000
